[Unit]
Description=minekraft

[Service]
WorkingDirectory=/opt/minekraft
ExecStart=/opt/wordcloud/artifacts/linux/word-cloud-generator
Restart=always

[Install]
WantedBy=multi-user.target
