[Unit]
Description=mainkraft

[Service]
WorkingDirectory=/opt/mainkraft
ExecStart=java -Xmx1024M -Xms1024M -jar minecraft_server.1.20.1.jar nogui
Restart=always

[Install]
WantedBy=multi-user.target
