[Unit]
Description=minekraft

[Service]
WorkingDirectory=/opt/minekraft
ExecStart=/opt/minekraft/
Restart=always

[Install]
WantedBy=multi-user.target
